<IfModule mod_rewrite.c>
    RewriteEngine On
    #If the project is not in the root, add the file path below
    RewriteBase /

	#adds wwww to address
    RewriteCond %{http_host} ^example.com$ [nc]
    RewriteRule ^(.*)$ http://www.example.com/$1 [r=301,L]

    #Checks to see if the user is attempting to access a valid file,
    #such as an image or css document, if this isn't true it sends the
    #request to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # If we don't have mod_rewrite installed, all 404's
    # can be sent to index.php, and everything works as normal.

    ErrorDocument 404 /index.php
</IfModule>  